* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-family: 'Poppins', sans-serif, arial;
	font-size: 62.5%;
}
body {
	background: #80b6df;
}
.main-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	width: 100vw;
}
.center {
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}
/* HEADER */
.header {
	align-items: center;
	background-color: #e64c3c;
	display: flex;
	justify-content: center;
	height: 45px;
}
.header__icon {
	height: 25px;
	margin-right: 5px;
	width: 25px;
}
.header__title {
	color: white;
	font-size: 1.8rem;
	font-weight: bold;
	margin: 5px;
}
/* CHARACTER - MAIN */
.character {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}
.character__image {
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}
.character__image-title {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: white;
	align-items: center;
	border-radius: 5px;
	padding: 4px 20px;
	margin-bottom: 10px;
}
.character__image-title h2 {
	font-size: 2.2rem;
	text-align: center;
}
.character__image-title img {
	width: 25px;
	margin-right: 10px;
}
.character__image-img {
	position: absolute;
	top: 70px;
}
.character__image-img img {
	width: 200px;
}
.character__info {
	align-items: center;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	justify-content: center;
	margin-top: 180px;
	padding: 25px 10%;
	width: 100%;
	list-style: none;
	background-color: white;
}
.character__info li {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 5px;
	width: 100%;
}
.character__info li span {
	text-align: left;
}

/* FOOTER */
.footer {
	background-color: #023357;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer__title {
	color: white;
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
	padding: 2px 5px;
}
.footer__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	list-style: none;
	width: 100%;
}
.footer__list-item {
	align-items: center;
	align-self: center;
	background-color: white;
	border-radius: 8px;
	display: flex;
	height: 80px;
	justify-content: center;
	justify-self: center;
	margin: 10px;
	transition: transform 0.2s ease-in-out;
	width: 80px;
}
.footer__list-item:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border: 2px solid white;
	transform: scale(1.1);
}
.footer__list-item img {
	transition: transform 0.2s ease-in-out;
}
.footer__list-item:hover img {
	transform: scale(2);
}
.footer__list-item img {
	width: 50px;
}

/* MEDIA QUERY */

@media (min-width: 570px) {
	.center {
		padding-left: 5%;
		padding-right: 5%;
	}
	.header {
		justify-content: flex-start;
	}
	.character {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.character__image {
		width: 45%;
		margin-right: 5%;
	}
	.character__image-img {
		position: unset;
		width: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		margin-right: 10%;
	}
	.character__info {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 0;
		padding-left: 5%;
		padding-right: 5%;
		width: 45%;
		margin-left: 5%;
	}
	.character__info li {
		align-items: center;
		flex-direction: column;
		width: 50%;
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.character__info li span {
		text-align: center;
	}
	.character__info-body {
		font-size: 1.9rem;
	}
}

@media (min-width: 768px) {
	.footer {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.footer__list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		width: 80%;
	}
	.footer__list-item {
		margin: 10px 0 10px 10px;
		justify-self: end;
	}
}
